/* fonts and colors */
* {
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a {
	border-bottom: 1px dashed #000;
	color: #777;
	text-decoration: none;
}
a:hover, a:focus {
	color: #000;
	border-bottom-color: #777;
}

h2 { 
	border-bottom: 1px solid #777;
	font-size: 20pt;
}
body { font-size: 10pt; }

/* sticky footer */
html, body { height: 100%; margin: 0; padding: 0; }
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -55px;
}
#padding { padding: 55px 10px 60px 10px; }
#padding h2:first-child { margin-top: 0; }
#footer {
	background-color: #efefef;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #777;
	font-size: 8pt;
	height: 25px;
	line-height: 2.3;
	margin: 0 auto;
	position: relative;
	top: 15px;
	text-align: center;
	width: 500px;;
}

/* breadcrumbs */
#header {
	background-color: #efefef;
	border-bottom: 5px solid #777;
	box-shadow: 0px 0px 3px #777;
	left: 0;
	height: 50px;
	min-width: 750px;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
}
#header h1 {
	background-color: #777;
	border: 0;
	border-radius: 0 0 5px 0;
	color: #fff;
	font-size: 12pt;
	left: ;
	margin: 0;
	padding: 2px 4px 4px 2px;
	position: absolute;
	top: 0;
}
#header h1 a {
	border: 0;
	color: #fff;
}
#header p {
	font-size: 7pt;
	font-weight: bold;
	margin: 0;
	padding: 6px 15px 0 0;
}
#breadcrumbs, #profile {
	float: right;
	height: 100%;
}
#profile {
	background-color: #fff;
	border-left: 5px solid #777;
	width: 250px;
}

/* forms */
fieldset, legend {
	background-color: #efefef;
	border: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #777;
}
legend { padding: 5px; }
fieldset p:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
	width: 0;
}
label, legend { font-weight: bold; }
legend {
	background-color: #fff;
	border: 1px solid #777;
}
label, .error {
	clear: left;
	float: left;
	font-size: 8pt;
	width: 250px;
}
.error { color: red; }
input, select, textarea {
	background-color: #fff;
	border: 1px solid #777;
	border-radius: 3px;
}
input.errorField, select.errorField, textarea.errorField {
	background-color: #fee;
	border-color: #700;
	color: #700
}
input:not([type]), input[type="text"], input[type="password"], textarea { width: 300px; }

/* tables */
table {
	background-color: #777;
	border-spacing: 5px;
	border-radius: 5px;
	border-collapse: collapse;
	box-shadow: 1px 1px 5px #777;
}
thead { border-collapse: spacing; }
th {
	border: 0;
	color: #fff;
	padding: 7px;
}
th a { color: #fff; }
tbody { border-collapse: spacing; }
td {
	background-color: #fff;
	border: 0;
	margin: 0;
	padding: 5px;
	text-align: center;
}
td:first-child {
	background-color: #efefef;
	border-right: 1px solid #777;
	font-weight: bold;
}
tr:last-child td:first-child { border-radius:  0 0 0 5px; }
tr:last-child td:last-child { border-radius:  0 0 5px 0; }
