<?xml version="1.0" encoding="UTF-8"?>
<!--This XML configuration file was automaticaly created by AutoUpdater library, and can be generater anew at any time! Please, use library methods to change configuration.--><configuration><client name="AutoUpdater" executable="Client.jar"><locations clientDir="." console="java -jar .\Client.jar" installer=".\Installer.exe"/></client><programs/></configuration>