<?xml version="1.0" encoding="UTF-8"?>
<!--This XML configuration file was automaticaly created by AutoUpdater library, and can be generater anew at any time! Please, use library methods to change configuration.--><configuration><client name="AutoUpdater" executable="Client.jar"><locations clientDir="." console="java -jar .\Client.jar" installer=".\Installer.exe"/></client><programs><program name="RANDim_9_1" executableName="RAN_Dim.exe" programDir="C:\Program Files (x86)\Nokia Siemens Networks\RAN_Dim\9.1" console="cmd /C &quot;C:\Program Files (x86)\Nokia Siemens Networks\RAN_Dim\9.1\RAN_Dim.exe&quot;" serverURL="http://10.154.32.31:8080/ran_dim_repo" developmentVersion="false"/><program name="RANDim_trunk" executableName="RAN_Dim.exe" programDir="C:\Program Files (x86)\Nokia Siemens Networks\RAN_Dim\trunk" console="cmd /C &quot;C:\Program Files (x86)\Nokia Siemens Networks\RAN_Dim\trunk\RAN_Dim.exe&quot;" serverURL="http://10.154.32.31:8080/ran_dim_repo" developmentVersion="true"/></programs></configuration>